# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
dist/

# Env
.env

# Data (DVC will track these)
data/raw/**
data/processed/**
data/features/**
!data/raw/*.dvc
!data/processed/*.dvc
!data/features/*.dvc

# MLflow
mlruns/
mlartifacts/

# Airflow
airflow/logs/
airflow/__pycache__/

# Docker
*.log

# OS
.DS_Store
Thumbs.db